*{margin: 0;padding: 0;}

body{font: 12px/22px 'microsoft yahei',tahoma,arial,SimSun,sans-serif;background-color: #FFF;}
li{list-style: none;}
a{text-decoration: none;color: #252020;}
.fl{float: left;}
.fr{float: right;}
.comWidth{width: 1000px;margin: 0 auto;}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}

.top{
	height: 34px;
	padding: 10px 0;
	position: fixed;
	background-color: #EEE6ED;
	width: 100%;
	z-index: 10;

}
.top li{
	float: left;
	margin-right: 30px;
	height: 34px;
	line-height: 34px;
	font-size: 12px;
	font-weight: bold;

}
.top_logo img{
	width: 100px;
	height: 33px;

}
li.top_logo{
	width: 100px;
	height: 33px;
	margin-right: 20px;
}
li.top_user{
	float: right;
	
}
li.top_user a{
	color: #007bed;
    border: 1px solid #007bed;
    width: 75px;
    border-radius: 5px;
    display: inline-block;
    text-align: center;
    height: 28px;
    line-height: 28px;
}
li.top_user a:hover{
	color: #FFF;
	background-color: #007bed;
}

/*main*/	
.banner_box01{
	width: 100%;
	background-color: #53B5FF;
}
.banner_box02{
	width: 100%;
	background-color: #7EC4FB;

}
.slide_banner img{
	margin-bottom: 134px;
}
.slide_banner{
	position: relative;
	height: 430px;


}

#banner_button span{
	width: 10px;
    height: 10px;
    border: 1px solid #FFF;
    background-color: red;
}
.login{
	position: absolute;
    top: 100px;
    left: 842px;
    width: 313px;
    height: 280px;
    text-align: center;
    background-color: #fff;
    border-radius: 3px;
    opacity: 0.7;
    z-index: 99;
}
.login h3{
	font-size: 16px;
	margin: 20px 0;
}
.login h3 a{
	color: #FFF;
	margin-top: 40px;
	padding: 10px 70px;
	background-color: #7068E9;
	display: inline-block;
	border-radius: 5px;
}

.itou_info{
	overflow: hidden;
	margin-top: 30px;
}
.itou_info dl{
	float: left;
	width: 30%;
	margin-right: 50px;
}
.itou_info dl dt{
	font-size: 22px;
    margin-bottom: 20px;
}
.itou_info .itou_text3{
	margin-right: -50px;
}
.text_right{
	height: 640px;
	background-color: #C5E7F3;
}
.text_right .text_cont{
	float: right;
	margin-top: 100px;
}
.text_left{
	height: 640px;
	background-color: #E1F4FA;
}
.text_left .text_cont{
	float: left;
	margin-top: 100px;
}
.text_left img{
	float: right;
}
.text_cont dt{
	font-size: 45px;
    color: #254b67;
    line-height: 80px;
    margin-bottom: 40px;
}
.text_cont dd{
	font-size: 22px;
    color: #254b67;
    line-height: 38px;
}
.index_btn{
	display: block;
    margin: 60px auto 160px;
    color: #fff;
    background-color: #0bafe6;
    width: 256px;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    text-align: center;
}
/*footer*/

.imglistdl{
	height: 78px;
	width: 315px;
	margin: 40px 8px;
	float: left;
}
.imglistbg01{
	width: 76px;
	height: 76px;
	background: url(style/img/indexbg.png) 0 -240px no-repeat;
	float: left;
	margin-right: 10px;
}
.footertit{
	color: #3A89C5;
}
.imglistbg02{
	width: 76px;
	height: 76px;
	background: url(style/img/indexbg.png) 0 -330px no-repeat;
	float: left;
	margin-right: 10px;
}
.imglistbg03{
	width: 76px;
	height: 76px;
	background: url(style/img/indexbg.png) 0 -422px no-repeat;
	float: left;
	margin-right: 10px;
}
.copyright{
	text-align: center;
}
.copyright p{
	color: #666;
}
.zizhiicon{
	display: inline-block;
    padding: 1px 5px 1px 40px;
    width: 55px;
    height: 33px;
    line-height: 17px;
    border: 1px solid #ddd;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    font-family: "SimSun";
    background-color: #fff;
    background-image: url(img/footerzizhibg.png);
    background-repeat: no-repeat;
}
.zizhiicon .fzxb{
	background-position: 2px -49px; 
}
.trusticon img{
	height: 37px;
	width: 102px;
	margin-bottom: -5px;
}
.hr{
	height: 1px;
	width: 100%;
	overflow: hidden;
	background: #D5D0D0;
}

/*功能介绍页*/
.functioncon{
	position: fixed;
    z-index: 9;
    background-color: #f8f8f8;
    height: 114px;
    width: 100%;
    border-bottom: 1px solid #ccc;
}
.functionmenu{
	height: 114px;
	position: fixed;
	left: 174px;
	z-index: 9;
}
.functionmenu li{
	float: left;
	width: 20%;
	height: 32px;
	border-radius: 3px;
	font-size: 18px;
	padding: 14px 0;
	margin-top: 54px;
}
.functionmenu li:hover{
	background-color: #E8DFDF;
}
.functionmenu li.current{
	background-color: #729DF7;
}
.functionmenu li span{
	display: block;
	line-height: 32px;
	height: 32px;
	overflow: hidden;
	text-align: center;
	background-image: url(style/img/funiconbg.png);
}
.functionmenu .nav01 span{
	
	background-repeat: no-repeat;
	background-position: 0 0;
	overflow: hidden;
}
.functionmenu .nav02 span{
	background-repeat: no-repeat;
	background-position: 0 -94px;
}
.functionmenu .nav03 span{
	background-repeat: no-repeat;
	background-position: 0 -184px;
}
.functionmenu .nav04 span{
	background-repeat: no-repeat;
	background-position: 0 -266px;
}
.functionmenu .nav05 span{
	background-repeat: no-repeat;
	background-position: 0 -345px;
}

.functionbody{
	margin-top: 114px;
}
.functionitem{
	position: relative;
	height: 403px;
	width: 100%;
	border-bottom: 1px solid #9171F6;
}
.functionitem01{
	background-image: url(style/img/functionbg001.png);
	background-repeat: no-repeat;
	background-position: 600px 0;
	background-color: #f8f8f8;
}
.functionitem01 dl{
	margin: 0 auto;
    position: absolute;
    left: 50%;
    margin-left: -500px;
    z-index: 3;
    top: 57px;
}
.functionitem01 dt{
	width: 395px;
    padding-left: 5px;
    text-align: left;
    float: left;
}
.functionitem01 h2{
 	margin: 0 0 30px;
    height: 30px;
    line-height: 30px;
    font-size: 30px;
    font-weight: bold;
}
.functionitem01 p{
	font-size: 18px;
    margin-bottom: 20px;
    color: #333;
}
.functionitem p.active{
	color: #2E2EF2;
	font-weight: bold;
}
.logbuttonbox{
	height: 140px;
}
.logbutton{
	width: 180px;
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    text-align: center;
    display: inline-block;
    color: #fff;
    margin: 40px auto 40px;
    background-color: #3A8AC7;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    cursor: pointer;
}
.helpicon{
	font-size: 10px;
    border: 1px solid #0bafe6;
    padding: 0 4px;
    cursor: pointer;
}
.helptext{
	font-size: 14px;
}
.functionitem01 .helpcont01{
	position: absolute;
	left: 192px;
    top: 180px;
    line-height: 18px;
    box-shadow: 1px 1px 1px #666;
    display: none;
}
.functionitem01 dd{
	width: 486px;
	float: right;
	text-align: center;
}
.functionitem img{
	border-bottom: 1px solid #f8f8f8;
	display: none;
	margin: 0 auto;
}
.functionitem dd.active img{
	display: block;
}
.functionitem02{
	background-image: url(style/img/functionbg002.png);
	background-repeat: no-repeat;
	background-position: 0 0;
}
.functionitem02 dl{
	margin: 0 auto;
    position: absolute;
    right: 50%;
    margin-right: -500px;
    z-index: 3;
    top: 57px;
}
.functionitem02 dt{
	width: 488px;
    padding-left: 5px;
    text-align: left;
    float: right;
}
.functionitem02 h2{
 	margin: 0 0 30px;
    height: 30px;
    line-height: 30px;
    font-size: 30px;
    font-weight: bold;
}
.functionitem02 p{
	font-size: 18px;
    margin-bottom: 20px;
    color: #333;
}
.functionitem02 .appvideobtn, 
.weixinvideobtn, .pcvideobtn,
.dianzvideobtn{
	position: relative;
	display: inline-block;
    margin-right: 10px;
	top: 24px;
    width: 150px;
    height: 110px;
    color: #fff;
    background-color: #CB3636;
    text-align: center;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.functionitem .videotxt{
	font-size: 14px;
}
.appvideobtn .videoicon{
	display: inline-block;
	margin: 22px auto 5px;
    width: 50px; 
    height: 52px;
    background-position: 0 -447px;
    background-image: url(img/funiconbg.png);

}
.weixinvideobtn .videoicon{
	display: inline-block;
	margin: 22px auto 15px;
    width: 50px; 
    height: 41px;
    background-position: 0 -520px;
    background-image: url(img/funiconbg.png);
}
.pcvideobtn .videoicon{
	display: inline-block;
	margin: 22px auto 4px;
    width: 50px; 
    height: 52px;
    background-position: 0 -674px;
    background-image: url(img/funiconbg.png);
}
.dianzvideobtn .videoicon{
	display: inline-block;
	margin: 22px auto 15px;
    width: 50px; 
    height: 42px;
    background-position: 0 -596px;
    background-image: url(img/funiconbg.png);
}
.starticon{
	display: none;
    position: absolute;
    top: 27px;
    left: 58px;
    width: 37px;
    height: 37px;
    background-position: -7px -762px;
    background-image: url(img/funiconbg.png);
}
.functionitem02 .appvideobtn:hover, 
.weixinvideobtn:hover, .pcvideobtn:hover,
.dianzvideobtn:hover{
	opacity: 0.7;
}
.appvideobtn:hover .starticon, 
.weixinvideobtn:hover .starticon, 
.pcvideobtn:hover .starticon,
.dianzvideobtn:hover .starticon{
	display: block;
}
.dianzmanage,.moreinfo,.fnxhbtn{
	font-size: 16px;
    padding: 0 5px;
    border: 1px solid #6450F2;
    border-radius: 5px;
}
.logbuttonbox{
	text-align: center;
}
.helpcont02{
	text-align: left;
    line-height: 16px;
    box-shadow: 1px 1px 1px #666;
    display: none;
    width: 440px;
    position: relative;
    left: 658px;
    top: -194px;
    background-color: #fff;
    z-index: 9;
}

/*软件下载页*/

.downtop{
	height: 34px;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    z-index: 10;
}
.downtop li{
	float: left;
	margin-right: 30px;
	height: 34px;
	line-height: 34px;
	font-size: 12px;
	font-weight: bold;

}
.downtop li a{
	color: #b3b3b3;
}
#stage{
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: url(img/downloadbg.png);
	background-repeat: repeat;
	overflow: hidden;
}
.space{
	background: url(img/bg-space.png) repeat-x;
	height: 100%;
	width: 3840px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    transform: translate3d(0, 0, 0);
    animation: move 450s linear 0.8s infinite normal;
    -webkit-animation: move 450s linear 0.8s infinite normal;
}
.sliderbox{
	height: 210px;
	width: 800px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -400px;
	margin-top: -170px;
    overflow: hidden;

}
.sliderbox ul{
	position: relative;
}
.sliderbox ul li{
	float: left;
    width: 800px;
    height: 210px;
    overflow: hidden;
    position: relative;
    color: #DFDFDF;
    text-align: center;
}
.logoimg{
	background-image: url(img/downloadiconbg.png);
	background-repeat: no-repeat;
}
.downlist1 .logoimg{
	width: 75px;
    height: 75px;
    display: block;
    margin: 0 auto 15px;
    background-position: 0 -282px;
}
.downlist{
	width: 3200px;
}
.downlist .h2txt{
	width: 300px;
    height: 46px;
    line-height: 46px;
    font-size: 45px;
    position: relative;
    margin: 0 auto 30px;
    font-family: sans-serif;
}
.downlist .ptxt{
	font-size: 20px;
    margin: 0 auto;
    line-height: 40px
}
.downlist1 .h2txt{
	margin-bottom: 10px;
}
.downlist1 .pc{
	height: 25px;
    line-height: 25px;
    font-size: 25px;
    margin-left: 10px;
}
.downlist1 .ptxt{
	font-size: 26px;
}
.downlist3 dl{
	display: inline-block;
}
.downlist3_dl dd{
	float: left;
	width: 216px;
	line-height: 56px;
	font-size: 22px;
	text-align: left;
	display: inline-block;
}
.downlist3_dl dd span{
	float: left;
	display: inline-block;
	width: 56px;
	height: 56px;
	line-height: 56px;
	margin-right: 10px;
	background-image: url(img/downloadiconbg.png);
	background-repeat: no-repeat;
}
.downlist3_li1 span{
	background-position: -17px -78px;
}
.downlist3_li2 span{
	background-position: -19px -141px;
}
.downlist3_li3 span{
	background-position: -19px -209px;
}
.sliderbox .arrow{
	background: url(img/sprite.png) no-repeat 0 0;
	width: 45px;
	height: 100px;
	position: absolute;
	top: 50%;
	opacity: 0.2;
	z-index: 99;
}
.sliderbox .arrow:hover{
	opacity: 0.7;
}
#next{
	right: 0;
	background-position: right top;
}
#prev{
	left: 0;
}
.downbutton{
	position: absolute;
	bottom: 0;
	width: 800px;
	left: 28%;
	z-index: 99;
}
.downbutton span{
	float: left;
	width: 80px;
	height: 10px;
	border-top: 1px solid #FFF;
	margin-right: 10px;
	display: inline-block;
	cursor: pointer;
	opacity: 0.2;
	z-index: 99;
}
.downbutton span.on{
	opacity: 0.7;
}
.download_box{
    position: absolute;
    top: 380px;
    left: 50%;
    text-align: center;
    margin-left: -102px;
}
.download_now{
	display: block;
    margin: 0 auto 10px;
    width: 205px;
    height: 36px;
    line-height: 36px;
    border: 1px solid #DFDFDF;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    color: #DFDFDF;
    font-size: 16px;
}
.download_box span{
	color: #fff;
}
.state{
	position: absolute;
    bottom: 10px;
    color: #b3b3b3;
    margin: o auto;
    margin: 0 auto;
    width: 270px;
    left: 50%;
    font-size: 14px;
    margin-left: -136px;
}

/*设备介绍*/
.device_sum{
	text-align: center;
	padding-top: 80px;
}
.device_sum h1{
	font-size: 60px;
	font-weight: 300;
	line-height: 105px;
	letter-spacing: 10px;
	margin-bottom: 20px;
}
.device_sum_p1 strong{
	font-size: 40px;
	color: #f8605f;
}
.device_sum_p2{
	font-size: 14px;
	font-weight: bold;
	margin: -20px 0 10px 0;
}
.device_sum_imgfr{
	background-color: #f8f8f8;
	overflow: hidden;
	width: 100%;
}
.device_txt{
	text-align: left;
    color: #999;
    font-family: 'microsoft yahei';
    font-size: 18px;
    line-height: 30px;
}
.device_sum_imgfr .device_txt{
	float: left;
}
.device_txt dt{
	padding: 60px 0 30px 0;
    font-size: 26px;
    color: #444;
}
.device_img{
	background-image: url(img/chupiaoimgbg.png);
    background-repeat: no-repeat;
    display: table;
    vertical-align: middle;
    overflow: hidden;
}
.img_usb{
	width: 254px;
    height: 199px;
    margin: 20px 0 55px 0;
    background-position: 0 0
}
.device_sum_imgfl .device_txt{
	float: right;
}
.img_fushi{
	width: 249px;
    height: 255px;
    margin-top: 25px;
    background-position: 0 -226px;
}
.img_auto{
	width: 232px;
    height: 251px;
    margin: 25px 0;
    background-position: 0 -499px;
}
.img_duocai{
	width: 229px;
    height: 207px;
    margin: 25px 0;
    background-position: 0 -773px;
}
.img_shipei{
	width: 335px;
    height: 203px;
    margin: 25px 0;
    background-position: 0 -1021px;
}

/*站主帮助页*/
.helpitem{
    padding-top: 50px;
}
.helpitembg{
	display: inline-block;
    float: left;
    width: 236px;
    height: 240px;
    background-color: #EDEDED;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin: 46px 14px 46px 0;
    text-align: center;
    color: #7b7b7b;
    overflow: hidden;
}
.helpitembg span,
.question_header span,
.question_body{
	background: url(img/helpbg.png);
	background-repeat: no-repeat;
}
.helpitembg span{
	display: block;
    margin: 0 auto;
    overflow: hidden;
    width: 99px;
    height: 82px;
}
.helpitembg p{
	height: 82px;
    padding: 52px 0;
}
.helpitembg h2{
	height: 52px;
    line-height: 52px;
    border-top: 1px solid #ccc;
    font-size: 14px;

}
.help_item02 span{
	background-position: 0 -190px;
}
.help_item03 span{
	background-position: 0 -394px;
}
.help_item04 span{
	background-position: 0 -600px;
}
.help_item01:hover span{
	background-position: 0 -96px;
}
.help_item02:hover span{
	background-position: 0 -289px;
}
.help_item03:hover span{
	background-position: 0 -496px;
}
.help_item04:hover span{
	background-position: 0 -695px;
}
.helpitembg:hover h2{
	border-top: 1px solid #272ACB;
}
.qanda h2{
	height: 50px;
    line-height: 50px;
    text-indent: 24px;
    font-size: 16px;
}
.question_list{
	border-bottom: 1px solid #ccc;
}
.question_header{
	border-top: 1px solid #ccc;
	padding: 13px 0;
	color: #141414;
	cursor: pointer;
}
.question_header.current{
	background-color: #f8f8f8;
}

.question_header span{
	display: block;
    padding-left: 100px;
    height: 22px;
    line-height: 22px;
    background-position: -49px -816px;
}
.question_body{
    padding: 10px 10px 10px 100px;
    line-height: 28px;
    color: #7b7b7b;
    background-color: #f8f8f8;
    background-position: -49px -838px;
}

/*站主帮助详情页*/

.helpmain{
	border: 1px solid #ccc;
	position: relative;
    top: 80px;
    margin-bottom: 136px;
    overflow: hidden;
    height: auto!important;
    min-height: 400px;
}
.helpmain_nav{
	margin: 10px 40px 0 10px;
    padding-bottom: 20px;
    width: 136px;
    background-color: #F3F4F6;
    text-align: center;
    float: left;

}
.helpmain_nav dt{
	height: 35px;
    line-height: 35px;
    font-size: 16px;
    background-color: #00A0DE;
    color: #fff;
    font-weight: 700;
}
.helpmain_nav dd{
	display: block;
    line-height: 35px;
    height: 35px;
    font-size: 14px;
    text-align: left;
    text-indent: 26px;
}
.tabCon{
	width: 510px;
	float: left;
}
.tabCon h2{
	line-height: 39px;
    font-size: 16px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    font-weight: normal;
}
.question_header2{
	line-height: 30px;
	font-weight: normal;
}
.question_body2{
	padding-left: 20px;
    line-height: 28px;
    color: #7b7b7b;
}
.tabCon .hide{
	display: none;
}
.helpmain .helpitembg{
	margin: 33px 0px 0px 37px;
}